
.btn {
    display: inline-flex;
    padding: 5px 18px;
    margin: 0;
    background-color: getColor('button');
    color: white;
    cursor: pointer;
    border: none;
    font-size: 20px;
    border-radius: 4px;

    &:hover {
        background-color: lighten(getColor('button'), 7%);
    }
}